    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    }
    
    .app-header {
    text-align: center;
    font-size: 2.5em;
    background: #7fd8db;
    padding: 0.3em 0em;
    border-radius: .8em 0;
    }

    
    .app-body {
    margin-top: 40px;
    }
    
    .done-true {
    text-decoration: line-through;
    color: grey;
    }
    
    ul {
    list-style: none;
    padding-left: 0;
    padding: 10px;
    margin: auto;
    font-size: 1.5em;
    }

    ul li {
    line-height: 2.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    .todo-form {
    padding: 10px;
    text-align: center;
    }

    input[type="checkbox"] {
        width: 2em;
        height: 2em;
    }
    

    input[type="text"] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    font-size: 1.5em;
    height: 1.8em;
    width: 100%;
    max-width: 400px;
    }

    .add-btn {
        text-align: center;
        margin: .5em auto;
        padding: .3em .6em;
        font-size: 1.3em;
        /* border-radius: .8em 0; */
        border-radius: 50%;
        background-color: rgb(173, 173, 173);
        }

    .remove-btn {
    text-align: center;
    display: block;
    margin: .8em auto;
    padding: .5em;
    font-size: 1.3em;
    border-radius: .8em 0;
    background-color: #447577;
    color: white;
    }
