<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="todoController">
<p>Things I Need To Do:</p>
<ul>
    <li ng-repeat="task in tasks">
        <input type="checkbox" ng-model="task.done"/>
        <span class="done-{{task.done}}">{{ task.text }}</span>
    </li>
</ul>
<form ng-submit>
    <input ng-model="task" placeholder="New Task"/><button ng-click="add()">+</button>
</form>
<button ng-click="remove()">Remove Completed Tasks</button>
</div>

<script src="myApp.js"></script>
<script src="todoController.js"></script>

</body>
</html>